/* Start Gloable Rules */
:root {
    --primary1: #FEAA09;
    --font-color-main: #343C6A;
    --color-blue: #2D60FF;
    --secondry: #FE5C73;
    --color-gray: #B1B1B1;
    --color-green: #16DBCC;
    --color-gradient: #4C49ED 0, #0A06F4 100%;
    --bg-color-main: #F5F7FA;
    --section-bd-color: #E6EFF5;
    --search-in-color: #8BA3CB;
    --color-white: white;
    --color-black: black;

    /* fonts size */
    --fs-11: .8em;
    --fs-14: .9em;
    --fs-18: 1.1em;
    --fs-20: 1.2em;
    --fs-22: 1.3em;
    --fs-25: 1.55em;
    --fs-28: 1.8em;
    --fs-32: 2em;
    --fs-48: 3em;
    --fs-100: 7em;
    --fs-144: 9em;
}
/* Fonts */
/* inter-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/inter-v18-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/inter-v18-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/inter-v18-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/inter-v18-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter-v18-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/inter-v18-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* abril-fatface-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/abril-fatface-v23-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lato-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/lato-v24-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
a {
    text-decoration: none;
}

h2 {
    margin: 0;
}

body {
    transition: .3s;
    margin: 0;
    display: flex;
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Small */
@media(max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
    .display-mobile {
        display: block !important;
    }
}

@media(min-width:767px) {
    .hide-td {
        display: none;
    }
}

/* larg */
@media(min-width:1200px) {

}

.container {
    padding: 15px;
    margin: 0 auto;
}

/* End Glaobal Rules */

/* Start Side Bar */
.sidebar {
    border-right: 1px solid var(--section-bd-color);
    background-color: var(--color-white);
}
.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
}
.sidebar .logo a {
    font-family: 'Abril Fatface', sans-serif;
    font-size: var(--fs-25);
    color: var(--font-color-main);
}
.sidebar .links li {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    transition: .3s;
}
.sidebar .links li a {
    color: var(--color-gray);
    font-size: var(--fs-18);
    padding-top: 2px;
    font-weight: 500;
}
.sidebar .links li svg {
    fill: var(--color-gray);
}
.sidebar li:hover a {
    color: var(--color-blue);
}
.sidebar li:hover svg {
    fill: var(--color-blue);
}
.sidebar li:hover::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--color-blue);
    border-radius: 0 5px 5px 0;
    left: -15px;
    top: 0;
}
li.selected::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--color-blue);
    border-radius: 0 5px 5px 0;
    left: -15px;
    top: 0;
}
li.selected a {
    color: var(--color-blue) !important;
}
li.selected svg {
    fill: var(--color-blue) !important;
}
/* End Side Bar */
/* Start Header */
.content {
    width: 100%;
}
header {
    border-bottom: 1px solid var(--section-bd-color);
    background-color: var(--color-white);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .main-title {
    color: var(--font-color-main);
    font-size: var(--fs-28);
    font-weight: 700;
    padding: 20px;
}
header .search {
    display: flex;
    align-items: center;
    gap: 20px;
}
header form {
    width: 255px;
    height: 50px;
    background-color: var(--bg-color-main);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .3s;
}
header form input[type=search] {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--search-in-color);
    width: 152px;
}
header form input[type=search]::placeholder {
    color: var(--search-in-color);
}
header form:focus-within{
    border: 1px solid var(--search-in-color);
    width: 280px;
}
header .settings-icon,
header .notification-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
header .settings-icon:hover svg,
header .notification-icon:hover svg {
    transition: .3s;
}
header .settings-icon:hover svg,
header .notification-icon:hover svg {
    transform: rotate(30deg) scale(1.1);
}
header .profile {
    width: 45px;
    height: 45px;
}
@media(max-width: 991px) {
    header .main-title {
        font-size: var(--fs-20);
    }
    header .profile {
        width: 35px;
        height: 35px;
    }
}
@media(max-width: 768px) {
    .sidebar {
        position: absolute;
        transition: .4s linear;
        left: -400px;
        top: 0;
        z-index: 100;
    }
}
/* End Header */
/* Start Cards */
/* End Cards */
.content {
    background-color: var(--bg-color-main);
}
.overview .container {
    padding: 15px 30px;
    display: grid;
    grid-template-areas:
        "cards cards transactions"
        "w-activity w-activity stats"
        "quick-transfare b-history b-history";
    gap: 20px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: 20px;
    grid-area: cards;
}
.cards .card {
    padding-top: 15px;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
}
.cards .card div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.cards .card > div {
    padding: 10px 25px;
}
.cards .card .balance {
    font-size: var(--fs-20);
}
.cards .card .balance::before {
    content: "Balnce";
    position: absolute;
    top: -8px;
    left: 10px;
    font-size: var(--fs-11);
    font-weight: 400;
}
.cards .card .balance,
.cards .card .card-holder,
.cards .card .valid {
    font-weight: bold;
    position: relative;
}
.cards .card .card-holder::before,
.cards .card .valid::before {
    position: absolute;
    top: -8px;
    left: 10px;
    font-size: var(--fs-11);
    font-weight: 400;
}
.cards .card .card-holder::before {
    content: "CARD HOLDER";
}
.cards .card .valid {
    width: 70px;
}
.cards .card .valid::before {
    content: "VALID THRU";
}
.cards .card .card-num {
    font-weight: bold;
    font-size: var(--fs-18);
    display: flex;
    align-items: center;
}
.cards .card .card-logo div {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.cards .card .card-logo .circle1 {
    margin-right: -20px;
}
.cards .card1 .card {
    background: linear-gradient(45deg, var(--color-gradient));
}
.cards .card1 .card .balance,
.cards .card1 .card .card-holder,
.cards .card1 .card .valid,
.cards .card1 .card .card-num {
    color: var(--color-white);
}
.p-style {
    font-size: var(--fs-22);
    color: var(--font-color-main);
    font-weight: 700;
}
.cards .card1 .card-holder::before,
.cards .card1 .card .valid::before {
    color: rgb(255 255 255/ 70%)
}
.cards .card1 .card .foot {
    background: linear-gradient(180deg, rgb(255 255 255 / 15%), rgb(255 255 255 / 0%));
}
.cards .card1 .card .card-logo div {
    background-color: rgb(255 255 255/ 50%);
}
.cards .card2 > p {
    text-align: right;
    font-size: var(--fs-18);
    margin-top: 26px;
}
.cards .card2 .card {
    border: 1px solid var(--section-bd-color);
    background-color: var(--color-white);
}
.cards .card2 .card .foot {
    border-top: 1px solid var(--section-bd-color);
}
.cards .card2 .card .card-logo div {
    background-color: rgb(145 153 175 / 50%);
}
.card3 {
    grid-area: transactions;
}
.card3 .transaction {
    padding: 15px;
    border-radius: 25px;
    background-color: var(--color-white);
}
.card3 .transaction .box .info {
    display: flex;
    gap: 10px;
    align-items: center;
}
.card3 .transaction .box:not(:last-of-type) {
    margin-bottom: 10px;
}
.card3 .transaction .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card3 .transaction .box .icon {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.card3 .transaction .box .icon.yellow {
    background-color: #FFF5D9;
}
.card3 .transaction .box .icon.blue {
    background-color: #E7EDFF;
}
.card3 .transaction .box .icon.green {
    background-color: #DCFAF8;
}
.card3 .transaction .box .tr-date {
    font-size: var(--fs-14);
    color: #718EBF;
}
.card3 .transaction .box .price.red {
    color: #FF4B4A;
}
.card3 .transaction .box .price.green {
    color: #41D4A8;
}
#w-activity {
    grid-area: w-activity;
}
#stats {
    grid-area: stats;
}
#activity-chart {
    background-color: var(--color-white);
    border-radius: 25px;
    padding: 15px;
}
@media(max-width: 1170px) {
    .overview .container {
        padding: 15px !important;
    }
    .cards {
        overflow-x: scroll;
    }
    .cards::-webkit-scrollbar {
        display: none;
    }
    .cards .card2 > p {
        text-align-last: left;
    }
}